span.paginate-info {
    font-size: 14px;
}

.preload {
    position: fixed;
    z-index:99999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    background-color:#fff;
    background:url(../img/double-ring-1.5s-200px.svg) center no-repeat rgba(255,255,255,0.7);
    background-size:15%;
    background-position:center;
    background-repeat:no-repeat;
}

.table {
    font-size: 12px;
}

.border-red {
   border: solid 1px #DA9393;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.dropdown-submenu a.dropdown-item:hover,
.dropdown-submenu a.dropdown-item:focus {
    background-color: #17a2b8 !important;
    color: #FFFFFF !important;
}